.wrapper {
  background-color: #fff;
  color: #495057;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

.backButton {
  color: #ec8c69;
  margin-left: -15px;
}

.header {
  margin-bottom: 30px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
